<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OcrLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TesseractDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <OcrLight.Properties.Settings>
            <setting name="RichTextBoxFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>jpn</value>
            </setting>
        </OcrLight.Properties.Settings>
        <TesseractDemo.Properties.Settings>
            <setting name="RichTextBoxFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
        </TesseractDemo.Properties.Settings>
    </userSettings>
</configuration>
